<!DOCTYPE html>
<html>
<head>
	<title>clase7</title>
</head>
<body>


<script type="text/javascript" src="mixto.js"></script>
</body>
</html>

<!--
	// herencia vs prototipos
// crear superclase producto
/*
class producto{
	constructor(numserie){
		this.numserie=numserie;
		this.tiempogarantia=100;
	}

static get infoTienda(){   // metodos estáticos
	console.log("productos de tienda  xxxxxx");
}

set garantia(){
	this.tiempogarantia -=value;
}

get garantia(){
	return this.tiempogarantia;
}
}

class pantalla extends producto{
	constructor(numserie, marca, modelo, pulgadas){
		super(numserie)
		this.marca=marca;
		this.modelo=modelo;
		this.pulgadas=pulgadas;
	}
encendido(){
	this.grantia-1;  // cada vez q enciende garantia disminuye....
	console.log("tv encendido");
}

volumen(){
	console.log("volumen encendido");
}

info(){
	console.log("tv marca: ${marca}.....	");
}

set peso(value){
	this.kgs= value.trim();
}

get peso(){
	return this.kgs;
	}
}
	
const sala= new pantalla('23456','marca1', 'modelo1', 55);
const tvHabitacion= new pantalla('6789','marca2', 'modelo2', 55);
//sala.info();
//sala.volumen();   
// tvsala.infoTienda   // acceso a metodo estatico sin parentesis...
// pantalla.infoTienda  // hereda propiedades del padre...


*/

// clases con prototipos

class pantalla  producto{
	constructor( marca, modelo, pulgadas){
		this.marca=marca;
		this.modelo=modelo;
		this.pulgadas=pulgadas;
	}
pantalla.prototype.encendido()= function(){
		console.log("tv encendido");
}

pantalla.prototype.volumen()= function(){{
	console.log("volumen encendido");
}

pantalla.prototype.info()= function(){{
	console.log("tv marca: ${marca}.....	");
}

const sala= new pantalla('marca1', 'modelo1', 55);
const tvHabitacion= new pantalla('marca2', 'modelo2', 55);


// EXPRESIONES RECULARES

var slash = /\//;
console.log("AC/DC".search(slash));

// URL

var parse_url = /^(?:([A-Za-z]+):)?(\/{0,3})([0-9.\-A-Za-z]+)(?::(\d+))?(?:\/([^?#]*))?(?:\?([^#]*))?(?:#(.*))?$/;
 
var url = "http://www.ora.com:80/goodparts?q#fragment";

// METODO EXEC

var result = parse_url.exec(url);
 
var names = ['url', 'scheme', 'slash', 'host', 'port',
     'path', 'query', 'hash'];
 
var i;
for (i = 0; i < names.length; i += 1) {
    document.writeln(names[i] + ':\n', result[i]);
}

// CONSTRUCCION EXPRESION LITERAL

var my_regexp = /\s*/g;

// ELEMENTOS

// PUNTO

var point = /g.ant/;
var story = "We noticed the *gi\nant sloth*, hanging from a giant branch.";
console.log(story.search(point));     // 17

// CONTRABARRA

var digitSurroundedBySpace = /\s\d\s/;
console.log("1a 2 3d".search(digitSurroundedBySpace));    // 2

//Los corchetes "[ ]"

var asteriskOrBrace = /[{*]/;
var story = "We noticed the *giant sloth*, hanging from a giant branch.";
console.log(story.search(asteriskOrBrace));       // 15
// CARACTER ^
var notABC = /[^ABC]/;
console.log("ABCBACCBBADABC".search(notABC));     // 10

//La barra "|"

var cardinalPoints = /north|south|east|west/i;
console.log(cardinalPoints.test("At north"));                 // true
console.log(cardinalPoints.test("I'm from Southampton"));     // true

//El signo de dólar "$"

console.log(/a+/.test("blah"));        // true
console.log(/a+$/.test("blah"));       // false
console.log(/a+$/.test("blahaa"));     // true
//ACENTO CIRCUNFLEJO ^

console.log(/a+/.test("blah"));        // true
console.log(/^a+/.test("blah"));       // false
console.log(/^a+/.test("aaaablah"));     // true
// 2 FORMA
var notABC = /[^ABC]/;
console.log("ABCBACCBBADABC".search(notABC));     // 10

//Los paréntesis "()"

var holyCow = /(sacred|holy) (cow|bovine|bull|taurus)/i;
console.log(holyCow.test("Sacred bovine!"));      // true

//El signo de interrogación "?"


var nov = /Nov(\.|iembre|ember)?/;
console.log(nov.test("Nov"));             // true
console.log(nov.test("Nov."));            // true
console.log(nov.test("Noviembre"));       // true
console.log(nov.test("November"));        // true
//PUNTOS DE REFERENCIA

var nov = /Nov(?:\.|iembre|ember)?/;
//Las llaves "{}"

var date = /^\d{2}\/\d{2}\/\d{2,4}$/;
console.log(date.test("05/05/1982"));      // true
console.log(date.test("05/05/82"));        // true

//El asterisco "*"


var exp = /[a-zA-Z]\d*/;
console.log(exp.test("A"));           // true
console.log(exp.test("B0"));          // true
console.log(exp.test("c01"));         // true
console.log(exp.test("abc01234"));    // true
console.log(exp.test("01234"));       // false

//El signo de suma "+"

var exp = /[a-zA-Z]\d+/;
console.log(exp.test("A"));           // false
console.log(exp.test("B0"));          // true
console.log(exp.test("c01"));         // true
console.log(exp.test("abc01234"));    // true
console.log(exp.test("01234"));       // false

// Grupos anónimos

var exp = /<([a-zA-Z]\w*?)>.*?<\/\1>/;
console.log(exp.test("<font>Text</font>"));       // true
console.log(exp.test("<h1>Text</font>"));     // false


// METODOS
// .TEST()

var exp1= new RegExp('abc');
console.log(exp1.test('abcdef'));
//var exp2= new (/abc/);

//exp1.test('el texto de busqueda: abcdefg')

//var exp2= new (/Hola mundo/);
console.log(exp2.test('abcdefg....Hola mundo'));

// .exec()

var mensaje="LLegaban por montones, primero 10, segundo 20, tercero 30  luego 35 hasta llegar a 100"
var patron= /\b \(d+)\b/g ;

var match;


while(match= patron.exec(mensaje)){
	console.log(match)
	console.log("se encontró ", match[1], "en" match.index)
}

//string.match(regexp)

var text = '<html><body bgcolor=linen><p>' +
           'This is <b>bold<\/b>!<\/p><\/body><\/html>';
var tags = /[^<>]+|<(\/?)([A-Za-z]+)([^<>]*)>/g;
 
var a, i;
a = text.match(tags);
for (i = 0; i < a.length; i += 1) {
    document.writeln(('// [' + i + '] ' + a[i]).entityify());
}

//string.replace(searchValue, replaceValue)

var result = "mother_in_law".replace('_', '-');
console.log(result);      //mother-in_law
// 2 forma

var character = {
                 '<' : '&lt;',
                 '>' : '&gt;',
                 '&' : '&amp;',
                 '"' : '&quot;'
                };
var entities = "<&>";
entities.replace(/[<>&"]/g,  function (c) {
            return character[c];
         });

//string.search

var text = 'and in it he says "Any damn fool could';
var pos = text.search(/["']/);    // 18

//string.split(separator, limit)

var c = '|a|b|c|'.split('|');   // c is ['', 'a', 'b', 'c', '']
 
var text = 'last,  first  ,middle';
var d = text.split(/\s*,\s*/);

//https://programacion.net/articulo/25_expresiones_regulares_que_todo_programador_web_deberia_conocer_1213

*/


// maquetacion  resposive

// DOM

//getElementsByTagName()

// TODOS LOS PARRAFOS

var parrafos = document.getElementsByTagName("p");
// 1 PARRAFO
var primerParrafo = parrafos[0];

// RECORRER PARRAFOS

for(var i=0; i<parrafos.length; i++) {
  var parrafo = parrafos[i];
}
// ENLACES 1 PARRAFO

var parrafos = document.getElementsByTagName("p");
var primerParrafo = parrafos[0];
var enlaces = primerParrafo.getElementsByTagName("a");

//getElementsByName()


var parrafoEspecial = document.getElementsByName("especial");

<p name="prueba">...</p>
<p name="especial">...</p>
<p>...</p>


//getElementById()


var cabecera = document.getElementById("cabecera");

<div id="cabecera">
  <a href="/" id="logo">...</a>
</div>

//querySelector()



var logo = document.querySelector(".enlace");

<div id="cabecera">
  <a href="/" class="enlace">...</a>
</div>
<div id="cuerpo">
    <p>Loren ipsum <a href="enlace">...</a></p>
</div>

//querySelectorAll()




var enlaces = document.querySelectorAll(".enlace");

<div id="cabecera">
  <a href="/" class="enlace">...</a>
</div>
<div id="cuerpo">
    <p>Loren ipsum <a href="enlace">...</a></p>
</div>


// ACCESO A ELEMENTOS nodeList

for (var i=0; i<enlaces.length; i++) {
    var enlaces = enlaces[i];
}

// Creación y eliminación de nodos
//Creación de elementos XHTML simples



// Crear nodo de tipo Element
var parrafo = document.createElement("p");
 
// Crear nodo de tipo Text
var contenido = document.createTextNode("Hola Mundo!");
 
// Añadir el nodo Text como hijo del nodo Element
parrafo.appendChild(contenido);
 
// Añadir el nodo Element como hijo de la pagina
document.body.appendChild(parrafo);


// eliminar nodos

var parrafo = document.getElementById("provisional");
parrafo.parentNode.removeChild(parrafo);

<p id="provisional">...</p>

removeChild():

// acceder a nodo XHTML



var enlace = document.getElementById("enlace");
console.log(enlace.href); // muestra http://www...com

<a id="enlace" href="http://www...com">Enlace</a>

// OBTENER VALOR DE propiedades

var imagen = document.getElementById("imagen");
console.log(imagen.style.margin);

<img id="imagen" style="margin:0; border:0;" src="logo.png" />

// VALOR MODIFICADO


var parrafo = document.getElementById("parrafo");
console.log(parrafo.style.fontWeight);  // muestra "bold"

<p id="parrafo" style="font-weight: bold;">...</p>

// ACCESO A CLASENAME DE XHTML


var parrafo = document.getElementById("parrafo");
console.log(parrafo.class); // muestra "undefined"
console.log(parrafo.className); // muestra "normal"

<p id="parrafo" class="normal">...</p>


// BOM

window.forms[0] === forms[0]
window.document === document

// METODOS

// Mover la ventana 20 píxel hacia la derecha y 30 píxel hacia abajo
window.moveBy(20, 30);
 
// Redimensionar la ventana hasta un tamaño de 250 x 250
window.resizeTo(250, 250);
 
// Agrandar la altura de la ventana en 50 píxel
window.resizeBy(0, 50);
 
// Colocar la ventana en la esquina izquierda superior de la ventana
window.moveTo(0, 0);


// CONTROL DE TIEMPOS

setTimeout("console.log('Han transcurrido 3 segundos desde que me programaron')", 3000);

function muestraMensaje() {
  console.log("Han transcurrido 3 segundos desde que me programaron");
}

setTimeout(muestraMensaje, 3000);




function muestraMensaje() {
  console.log("Han transcurrido 3 segundos desde que me programaron");
}
var id = setTimeout(muestraMensaje, 3000);
 
// Antes de que transcurran 3 segundos, se decide eliminar la ejecución pendiente
clearTimeout(id);



function muestraMensaje() {
  console.log("Este mensaje se muestra cada segundo");
}
 
setInterval(muestraMensaje, 1000);



function muestraMensaje() {
  console.log("Este mensaje se muestra cada segundo");
}
 
var id = setInterval(muestraMensaje, 1000);
 
// Despues de ejecutarse un determinado número de veces, se elimina el intervalo
clearInterval(id);

// OBJ- DOCUMENT

// modificar el título de la página
document.title = "Nuevo titulo";
 
// llevar al usuario a otra página diferente
document.URL = "http://nueva_pagina";

// OBJETO LOCATION



// Método assign()
location.assign("http://www.ejemplo.com");  // Equivalente a location.href = "http://www.ejemplo.com"
 
// Método replace()
location.replace("http://www.ejemplo.com");
// Similar a assign(), salvo que se borra la página actual del array history del navegador
 
// Método reload()
location.reload(true);
/* Recarga la página. Si el argumento es true, se carga la página desde el servidor. Si es false, se carga desde la cache del navegador */

// SCREEN

window.moveTo(0, 0);
window.resizeTo(screen.availWidth, screen.availHeight);

