
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
    /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h1{
    color: #fff;
    text-align: center;
}

.form-registro{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
}

.titulo{
    background: deepskyblue;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 100px;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input{
    padding: 10px;
}

.input-48{
    width: 48%;
}

.input-100{
    width: 100%;
}

.boton-send{
    width: 30%;
}