<h1>Taller JS || Esconder URL de un enlace en la barra de estado</h1>
<h3>Ejercicio 51</h3>

<a href="http://www.guiarte.com" onmouseover="window.status='Guiarte, sitio de turismo y arte';return true" onmouseout="window.status='';return true"> Guiarte.com</a>
<script language="JavaScript">
setInterval ("window.status = ''",10);
</script>
