*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

.contenedorCalc{
	background-color: salmon;
	border-radius: 5px;
	width: 300px;
	margin: auto;
	box-shadow: 5px 5px 5px 5px rgba(12,2,23);
	display: flex;
	margin-top: 100px;
	padding: 10px;
	border: 1px ridge #2fff2f;
	align-items: center;
    flex-direction: column;
    justify-content: center;
}

.resultado{
	background-color: white;
	height: 30px;
	text-align: center;
	border: 1px ridge black;
	border-radius: 3px;
	width: 80%;
	margin-top: 10px;

}

.contenedorValores{
	display: flex;
	width: 80%;
	margin-top: 10px;
	justify-content: space-between; 
}

.contenedorBtns{
	display: flex;
	width: 80%;
	margin-top: 10px;
	justify-content: space-between; 
}

.txtCalc{
	font-size: large;
	padding: 5px;
}

.inp{
	margin-right: 10px;
}


















