*{
	box-sizing: border-box;

}


body{
	margin: 0;
	font-family: sans-serif;
	background: #088A4B;
}

h1{
	color: #fff;
	text-align: center;
}

.form-registro{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 7px;
}

.titulo{
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
}

.contenedor-imputs {
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

input {
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;

}

.input-48 {
	width: 48%;
}

.input-100{
	width: 100%
}
.botn-enviar{
	background: crimson;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	font-size: 20px;
	cursor: pointer;
}
.botn-enviar:activate {
	transform: scale(1.5);
}
.form-link {
	width: 100%;
	margin: 7px;
	text-align: center;
	font-size: 14px;
}