<script language="JavaScript" src="https://sep.yimg.com/ty/cdn/founderstelecom/mouseover.js?t=1595000290&"></script>
<script language=javascript src=https://sep.yimg.com/ty/cdn/founderstelecom/sniffer.js?t=1595000290&></script>
<script language=javascript src=https://sep.yimg.com/ty/cdn/founderstelecom/overlib.js?t=1595000290&></script>
<script language=javascript src=https://sep.yimg.com/ty/cdn/founderstelecom/niftycube.js?t=1595000290&></script>
<script language=javascript src=https://sep.yimg.com/ty/cdn/founderstelecom/jquery.js?t=1595000290&></script>
<link type="text/css" rel="stylesheet" href="https://sep.yimg.com/ty/cdn/founderstelecom/founders.css?t=1595000290&" />
<script language=javascript>
    if (!ie) {
        document.write("<style>#ys_pageBody { margin-left: 200px !important}</style>");
    }

    jQuery(document).ready(function () {
        jQuery("#homeBox1").append("<img src=https://sep.yimg.com/ty/cdn/founderstelecom/tl.png?t=1595000290& class=hbtl><img src=https://sep.yimg.com/ty/cdn/founderstelecom/tr.png?t=1595000290& class=hbtr><img src=https://sep.yimg.com/ty/cdn/founderstelecom/bl.png?t=1595000290& class=hbbl><img src=https://sep.yimg.com/ty/cdn/founderstelecom/br.png?t=1595000290& class=hbbr>");
        jQuery("#homeBox1").css("position", "relative");
        jQuery("#homeBox2").append("<img src=https://sep.yimg.com/ty/cdn/founderstelecom/tl.png?t=1595000290& class=hbtl><img src=https://sep.yimg.com/ty/cdn/founderstelecom/tr.png?t=1595000290& class=hbtr><img src=https://sep.yimg.com/ty/cdn/founderstelecom/bl.png?t=1595000290& class=hbbl><img src=https://sep.yimg.com/ty/cdn/founderstelecom/br.png?t=1595000290& class=hbbr>");
        jQuery("#homeBox2").css("position", "relative");
        jQuery(".hbtl").css("cssText", "position: absolute;top: 0px;left: 0px;");
        jQuery(".hbtr").css("cssText", "position: absolute;top: 0px;right: 0px;");
        jQuery(".hbbl").css("cssText", "position: absolute;bottom: 0px;left: 0px;");
        jQuery(".hbbr").css("cssText", "position: absolute;bottom: 0px;right: 0px;");
    });
</script>
<script language="javascript">
< !--
        function popup(src) {
            win = window.open(src, "", "top=20,left=20,height=300,width=450,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes")
        }

    MM_preloadImages('/lib/founderstelecom/why1.gif', '/lib/founderstelecom/hot1.gif', '/lib/founderstelecom/how1.gif', '/lib/founderstelecom/volume1.gif', '/lib/founderstelecom/whyplan1.gif');
//-->
</script>
<table border="0" cellpadding="0" width="980" cellspacing="0">
    <tr>
        <td width="414" bgcolor="#FFCC33" valign="bottom">
            <div style="position: relative;">
                <a href="index.html"><img border="0"
                        src="https://sep.yimg.com/ty/cdn/founderstelecom/top-banner-new.gif?t=1595000290&"
                        alt="Founders Telecom Plantronics Headsets" width="414" height="99" style="display:block"></a>
                <img src="https://sep.yimg.com/ty/cdn/founderstelecom/plantronics-logo.png?t=1595000290&"
                    id="plantronicsLogo">
                <a href="http://www.founderstelecom.com/shipping.html" style="padding-right: 10px;"
                    id="shippingSmall"><img src="https://sep.yimg.com/ty/cdn/founderstelecom/small695.gif?t=1595000290&"
                        border="0" alt="$6.95 UPS Shipping"></a>
            </div>
        </td>
        <td valign="top" width="566">
            <table border="0" cellpadding="0" width="100%" cellspacing="0">
                <tr>
                    <td bgcolor="#FFCC33">
                        <img border="0" src="https://sep.yimg.com/ty/cdn/founderstelecom/spacer.gif?t=1595000290&"
                            ALT="headset spacer" width="1" height="8"></td>
                </tr>
                <!-- <form method="GET" action="http://www.founderstelecom.com/nsearch.html"> -->
                <form method="get" action="nsearch.html">
                    <input type="hidden" name="catalog" value="founderstelecom">
                    <tr>
                        <td align="right">
                            <a href="https://order.store.yahoo.net/founderstelecom/cgi-bin/wg-order?founderstelecom"
                                class="topnav">
                                <img border="0" src="https://sep.yimg.com/ty/cdn/founderstelecom/cart.gif?t=1595000290&"
                                    ALT="Plantronics cart" align="absmiddle" width="15" height="16">View
                                Cart</a> • <a href="http://www.founderstelecom.com/info.html" class="topnav">Info</a> •
                            <a href="http://www.founderstelecom.com/privacypolicy.html" class="topnav">Privacy</a> •
                            <a href="http://www.founderstelecom.com/ind.html" class="topnav">Index</a> •
                            <a href="http://www.founderstelecom.com/founders-telecom-contact-us.html"
                                class="topnav">Contact Us</a><br>
                            <font class="findlabel">Search:</font>
                            <input type="text" name="query" size="12"><input type="image"
                                src="https://sep.yimg.com/ty/cdn/founderstelecom/go.gif?t=1595000290&" border="0"
                                alt="Go" align="absmiddle" width="43" height="27"><br>
                            <a href="http://www.founderstelecom.com/questions-1.html">
                                <img border="0"
                                    src="https://sep.yimg.com/ty/cdn/founderstelecom/questions3.gif?t=1595000290&"
                                    ALT="Plantronics Questions" align="absmiddle" width="344" height="14"></a><br>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align=right> </td>
                                    <td width="153" align=right><a href="#"
                                            onclick="popup('http://www.founderstelecom.com/po.html')"><img border="0"
                                                src="https://sep.yimg.com/ty/cdn/founderstelecom/creditcards.gif?t=1595000290&"
                                                ALT="Payment Methods for Plantronics" vspace="4" width="153"
                                                height="19"></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </form>
            </table>
        </td>
    </tr>
</table>

<div id=navbar><a href="http://www.founderstelecom.com/index.html">Home</a><a
        href="http://www.founderstelecom.com/wireless-headsets.html">Wireless </a><a
        href="http://www.founderstelecom.com/corded.html">Corded</a><a
        href="http://www.founderstelecom.com/computer.html">Computer</a><a
        href="http://www.founderstelecom.com/cellular.html">Cellular</a><a
        href="http://www.founderstelecom.com/polycom-conference-phones.html">Polycom</a><a
        href="http://www.founderstelecom.com/plantronics-replacement-parts-accessories.html">Parts and Accessories</a><a
        href="http://www.founderstelecom.com/cradhanlif.html">Cradle-Mate manual handset lifter - DISCONTINUED</a></div>